# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
*.log
*.gz

# tsc
/dist

# swagger
/src/swagger-output.json

#environment variable
.env

#coverage
.nyc_output
coverage